body {
    margin: 0;
    padding: 0;
    background-color:rgb(10,10,10);
    color: rgb(240,240,240);
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    font-family: 'Pangolin', cursive;
    
    
}


header {
    width: 95%;
    max-width: 788px;
    display: flex;
    justify-content: flex-end;
    padding: 12px;
    margin-top: 15px;    
}


.buttonName {
    color: tomato;
}

.container {
    width: 80%;
    max-width: 680px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tile {
    width: 64px;
    height: 64px;
    background-color: rgb(37,37,37);
    margin: 7px;
    border-radius: 17px;
    
}

.tile:hover{
    transition:cubic-bezier(0.07, 1.41, 0.82, 1.41) 0.2s;
    transform:scale(1.2);
    background-color: tomato;
}

.tile .icon {
    margin: 10px;
}

a {
    text-decoration: none;
    font-size: 18px;
    color:rgb(240,240,240);
}

h1 {
    font-size: 24px;
    margin-bottom: -8px;
    color: tomato;
}

h2 {
    font-size: 18px;
}

p {
    margin-bottom: 2px;
}

.image-container {
    height: 160px;
    width: 160px;
    border-radius: 90px;
    overflow: hidden;
}

.image-container img {
    height: 100%;
}

.tile-share-button {
    margin: 8px;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: rgb(64,64,64);
}